# Exclude .terraform directory
**/.terraform/*

# Exclude .terraform lock file
infra/.terraform.lock.hcl

# Exclude the key file
key.json

# Exclude local vars
*.tfvars

# Exclude state files
*.tfstate*
infra/terraform.tfstate

# Exclude IDE files
.idea*